<section class="py-24">
	<div class="container mx-auto">
		<div class="layout layout--spacious-40-50 px-sm-6 px-xs-4 gap-sm-4">
			<div class="layout-main place-self-center">
				<h2 class="heading-md fg-black font-xbold leading-base">
					Extend and Customize
				</h2>
				<p class="title-sm mt-4">
					Use Neoblaze's utilities and SASS to add custom styles.
				</p>
			</div>
			<div class="layout-aside place-self-center">
				<img class="img-full" src="images/landing/sass.png" alt="grid" />
			</div>
		</div>
	</div>
</section>
