<section class="py-24">
	<div class="container mx-auto">
		<header class="layout layout--spacious-40-60 gap-6 p-4">
			<div class="layout-aside d-flex flex-column flex-justify-center">
				<div class="box p-6 shadow">
					<div class="d-flex flex-items-center gap-4">
						<span class="icon title">
							<i class="bi bi-train-front"></i>
						</span>
						<div>
							<h3 class="fg-dark--ultra">#421896 - Kemino Express</h3>
							<span class="label fg-gray font-medium"
								>Business Class <span><i class="bi bi-dot"></i> </span>7hr
								20min</span
							>
						</div>
						<span
							class="px-2 py-1 border rounded-sm bd-success--soft font-bold fg-success--soft label-sm ml-auto"
							>$525.45</span
						>
					</div>
					<div class="d-flex flex-items-center gap-4 mt-2">
						<div>
							<h4 class="label-md fg-gray">Sakura (SK)</h4>
							<span class="label-sm fg-secondary font-bold">10:00AM</span>
						</div>
						<div class="ml-auto">
							<h4 class="label-md fg-gray">Nozami (NZ)</h4>
							<span class="label-sm fg-secondary font-bold">17:20PM</span>
						</div>
					</div>
					<div class="d-flex gap-2">
						<span class="chip label-sm fg-gray">One-way</span>
						<span class="chip label-sm fg-gray">
							<span>
								<i class="ph-fork-knife"></i>
							</span>
							Meals
						</span>
						<span class="chip label-sm fg-gray">
							<span>
								<i class="ph-wifi-high"></i>
							</span>
							Wifi
						</span>
					</div>
				</div>
			</div>
			<div
				class="layout-main min-width-0 overflow-auto bg-code rounded shadow-md"
			>
				{{ partial "code-box" . }}
			</div>
		</header>
	</div>
</section>
