<section class="py-16">
	<div class="container mx-auto">
		<div class="layout layout--spacious-80 px-sm-6 px-xs-4">
			<div class="layout-main">
				<h2 class="heading-md fg-black leading-base">
					Ship Faster with pre-built components
				</h2>
				<p class="body-lg mt-4">
					With pre-built components, you can get your site up and running in no
					time.
				</p>
			</div>
		</div>
		<div class="layout layout--spacious-80 px-sm-6 px-xs-4">
			<div class="layout-main">
				<img src="/images/landing/components.png" alt="" />
			</div>
		</div>
	</div>
</section>
