<section class="py-24 bg-neutral--xlight">
	<div class="container mx-auto">
		<div class="layout layout--spacious-50-40 p-4">
			<div class="layout-main place-self-center">
				<h2 class="heading-md font-xbold leading-base">
					Responsive Grid Layouts
				</h2>
				<p class="title mt-4 fg-gray">
					Create responsive layout for different screen sizes.
				</p>
			</div>
			<div class="layout-aside">
				<img
					class="img-full max-sm-height-20"
					src="images/landing/grid.png"
					alt="grid" />
			</div>
		</div>
	</div>
</section>
