<section>
	<div class="container mx-auto">
		<header class="layout layout--spacious-80 py-24 px-sm-6 px-xs-4">
			<div class="layout-main place-self-center text-center">
				<h2
					class="heading-xl fg-black leading-base font-xbold tracking-tighter">
					Build websites with <span class="fg-secondary">blazing</span> speed.
				</h2>
				<h4 class="title-sm fg-midnight font-normal mt-10">
					Neoblaze is a css framework that helps you build beautiful interfaces
					with blazing speed.
				</h4>
				<div
					class="d-flex flex-sm-wrap flex-items-center gap-4 flex-justify-center mt-10">
					<span
						class="font-tertiary label font-medium width-16 fg-black bg-slate--light p-2 rounded px-2 py-4">
						npm install neoblaze
					</span>
					<a
						class="btn btn-secondary px-8 py-4 shadow-md shadow-secondary label-xl width-xs-full"
						href="/docs/getting-started/introduction/">
						Get Started
					</a>
				</div>
			</div>
		</header>
	</div>
</section>
