<section>
	<div class="container mx-auto">
		<header class="layout layout--spacious-80 py-24">
			<div class="layout-main place-self-center text-center">
				<h2 class="heading-xl leading-base font-xbold tracking-tighter">
					Build websites with <span class="fg-secondary">blazing</span> speed.
				</h2>
				<h4 class="heading-xs fg-gray font-normal mt-10">
					Neoblaze is a css framework that helps you build beautiful interfaces
					with blazing speed.
				</h4>
				<div class="d-flex flex-column flex-items-center flex-justify-center">
					<a
						class="btn btn-secondary px-12 py-3 shadow-md shadow-secondary label-xl mt-10"
						href="/docs/getting-started/introduction/">
						Get Started
					</a>
					<span class="width-20 mt-4">
						{{ highlight ("npm install neoblaze") "sh" }}
					</span>
				</div>
			</div>
		</header>
	</div>
</section>
