<section>
	<div class="container mx-auto">
		<header class="layout layout--spacious-80 py-24">
			<div class="layout-main place-self-center text-center">
				<h2 class="heading-xl leading-base font-xbold tracking-tighter">
					Build websites with <span class="fg-secondary">blazing</span> speed.
				</h2>
				<h4 class="heading-xs fg-gray font-normal font-tertiary mt-10">
					Neoblaze is a css framework that helps you build beautiful interfaces
					with blazing speed.
				</h4>
				<a
					class="btn btn-secondary px-12 py-3 shadow-md mt-10 label-xl"
					href="/docs/getting-started/introduction/"
				>
					Get Started
				</a>
			</div>
		</header>
	</div>
</section>
