{{ highlight (printf `
<div class="box p-6 shadow">
	<div class="d-flex flex-items-center gap-4">
		<span class="icon title"><i class="bi bi-train-front"></i></span>
		<div>
			<h3 class="fg-dark--ultra">#421896 - Kemino Express</h3>
			<span class="label fg-gray font-medium"> Business Class 7hr20min </span>
		</div>
		<span class="font-bold label-sm ml-auto"> $525.45 </span>
	</div>
	<div class="d-flex flex-items-center gap-4 mt-2">
		<div>
			<h4 class="label-md fg-gray">Sakura (SK)</h4>
			<span class="label-sm fg-secondary font-bold">10:00AM</span>
		</div>
		<div class="ml-auto">
			<h4 class="label-md fg-gray">Nozami (NZ)</h4>
			<span class="label-sm fg-secondary font-bold">17:20PM</span>
		</div>
	</div>
</div>
`) "html" "" }}
