<section class="py-24 px-6 px-xs-4">
	<div class="container-sm mx-auto">
		<div class="layout layout-3-col gap-4">
			<div class="d-flex flex-column gap-1 label fg-neutral">
				<a href="/" class="px-2 mb-2">
					<img src="/images/neoblaze_logo.svg" alt="Neoblaze logo" width="32" />
				</a>
				<span
					>Neoblaze by
					<a href="https://github.com/htcni">Nitin Bartwal.</a></span
				>
				<span
					>Code licensed
					<a href="https://github.com/htcni/neoblaze/blob/main/LICENSE"
						>MIT</a
					></span
				>
				<span>Neoblaze 2023</span>
			</div>
			<div class="d-flex flex-column gap-2">
				<h4 class="label-md font-bold">Browse</h4>
				<div>
					<ul class="d-flex flex-column gap-2">
						<li>
							<a class="font-medium fg-black label fg-secondary-hover" href="/"
								>Home</a
							>
						</li>
						<li>
							<a
								class="font-medium fg-black label fg-secondary-hover"
								href="/docs/getting-started/introduction/"
								>Docs</a
							>
						</li>
					</ul>
				</div>
			</div>
			<div class="d-flex flex-column gap-2">
				<h4 class="label-md font-bold">Social</h4>
				<div>
					<ul class="d-flex flex-column gap-2">
						<li>
							<a
								class="font-medium fg-black label fg-secondary-hover"
								href="{{ .Site.Params.twitter }}"
								>Twitter</a
							>
						</li>
						<li>
							<a
								class="font-medium fg-black label fg-secondary-hover"
								href="{{ .Site.Params.repo }}"
								>Github</a
							>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
