<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta name="description" content="{{ .Site.Params.description }}" />
<meta name="author" content="{{ .Site.Params.author }}" />
<meta name="docsearch:language" content="en" />
<meta name="docsearch:version" content="{{ .Site.Params.current_version }}" />

<title>
	{{ if .IsHome }}{{ .Site.Title }} · {{ .Site.Params.subtitle }} {{ else }} {{
	.Title }} · Neoblaze {{end }}
</title>

<link
	rel="icon"
	sizes="512x512"
	href="/images/favicons/android-chrome-512x512.png" />
<link
	rel="icon"
	sizes="192x192"
	href="/images/favicons/android-chrome-192x192.png" />
<link
	rel="apple-touch-icon"
	sizes="180x180"
	href="/images/favicons/apple-touch-icon.png" />
<link
	rel="icon"
	type="image/png"
	href="/images/favicons/favicon-32x32.png"
	sizes="32x32" />
<link
	rel="icon"
	type="image/png"
	href="/images/favicons/favicon-16x16.png"
	sizes="16x16" />
<link rel="manifest" href="/images/favicons/site.webmanifest" />
<link rel="shortcut icon" href="/images/favicons/favicon.ico" />

{{ partial "stylesheet" . }}
