// Inspired for tailwind colors

$primary-colors: (
  //standard
  'white': var(--white),
  'midnight': var(--midnight),
  'black': var(--black),
  'transparent': var(--transparent)
);

$colors: (
  // Slate
  slate-50: #f6f7f8,
  slate-100: #d3d6db,
  slate-200: #b0b6bf,
  slate-300: #8d96a2,
  slate-400: #6a7586,
  slate-500: #475569,
  slate-600: #3a4555,
  slate-700: #2c3541,
  slate-800: #1f252d,
  slate-900: #111419,

  //Gray
  gray-50: #f6f7f7,
  gray-100: #d4d6da,
  gray-200: #b2b6bc,
  gray-300: #8f969e,
  gray-400: #6d7581,
  gray-500: #4b5563,
  gray-600: #3d4550,
  gray-700: #2f353d,
  gray-800: #20252b,
  gray-900: #121418,

  //zinc
  zinc-50: #f6f6f7,
  zinc-100: #d5d5d8,
  zinc-200: #b5b5b8,
  zinc-300: #949499,
  zinc-400: #73737a,
  zinc-500: #52525b,
  zinc-600: #42424a,
  zinc-700: #333338,
  zinc-800: #232327,
  zinc-900: #141416,

  //neutral
  neutral-50: #f6f6f6,
  neutral-100: #d5d5d5,
  neutral-200: #b5b5b5,
  neutral-300: #949494,
  neutral-400: #737373,
  neutral-500: #525252,
  neutral-600: #424242,
  neutral-700: #333333,
  neutral-800: #232323,
  neutral-900: #141414,

  //stone
  stone-50: #f7f6f6,
  stone-100: #d7d6d5,
  stone-200: #b7b5b3,
  stone-300: #979491,
  stone-400: #777470,
  stone-500: #57534e,
  stone-600: #46433f,
  stone-700: #363330,
  stone-800: #252422,
  stone-900: #151413,

  //red
  red-50: #fdf4f4,
  red-100: #f7cbcb,
  red-200: #f0a2a2,
  red-300: #e97878,
  red-400: #e34f4f,
  red-500: #dc2626,
  red-600: #b21f1f,
  red-700: #881818,
  red-800: #5f1010,
  red-900: #350909,

  //orange
  orange-50: #fef7f3,
  orange-100: #fad7c5,
  orange-200: #f6b797,
  orange-300: #f29768,
  orange-400: #ee783a,
  orange-500: #ea580c,
  orange-600: #be470a,
  orange-700: #913707,
  orange-800: #652605,
  orange-900: #381503,

  //amber
  amber-50: #fdf8f3,
  amber-100: #f6dec3,
  amber-200: #efc594,
  amber-300: #e7ab65,
  amber-400: #e09135,
  amber-500: #d97706,
  amber-600: #b06005,
  amber-700: #874a04,
  amber-800: #5d3303,
  amber-900: #341d01,

  //yellow
  yellow-50: #fcf9f2,
  yellow-100: #f2e3c3,
  yellow-200: #e8cd93,
  yellow-300: #deb663,
  yellow-400: #d4a034,
  yellow-500: #ca8a04,
  yellow-600: #a47003,
  yellow-700: #7d5602,
  yellow-800: #573b02,
  yellow-900: #302101,

  //Lime
  lime-50: #f7faf3,
  lime-100: #dae9c5,
  lime-200: #bdd797,
  lime-300: #a0c669,
  lime-400: #82b43b,
  lime-500: #65a30d,
  lime-600: #52840b,
  lime-700: #3f6508,
  lime-800: #2b4606,
  lime-900: #182703,

  //green
  green-50: #f3faf6,
  green-100: #c7e9d4,
  green-200: #9bd7b1,
  green-300: #6fc68f,
  green-400: #42b46c,
  green-500: #16a34a,
  green-600: #12843c,
  green-700: #0e652e,
  green-800: #094620,
  green-900: #052712,

  //emerald
  emerald-50: #f3faf8,
  emerald-100: #c3e6db,
  emerald-200: #94d2bf,
  emerald-300: #64bea2,
  emerald-400: #35aa86,
  emerald-500: #059669,
  emerald-600: #047a55,
  emerald-700: #035d41,
  emerald-800: #02412d,
  emerald-900: #012419,

  //teal
  teal-50: #f3faf9,
  teal-100: #c5e5e2,
  teal-200: #97d1cc,
  teal-300: #69bdb5,
  teal-400: #3ba89f,
  teal-500: #0d9488,
  teal-600: #0b786e,
  teal-700: #085c54,
  teal-800: #06403a,
  teal-900: #032421,

  //cyan
  cyan-50: #f3fafb,
  cyan-100: #c4e5ed,
  cyan-200: #95d0de,
  cyan-300: #66bbcf,
  cyan-400: #37a6c1,
  cyan-500: #0891b2,
  cyan-600: #067590,
  cyan-700: #055a6e,
  cyan-800: #033e4d,
  cyan-900: #02232b,

  //sky
  sky-50: #f2f9fc,
  sky-100: #c2e1f2,
  sky-200: #92cae7,
  sky-300: #62b3dc,
  sky-400: #329bd2,
  sky-500: #0284c7,
  sky-600: #026ba1,
  sky-700: #01527b,
  sky-800: #013956,
  sky-900: #002030,

  //blue
  blue-50: #f4f7fe,
  blue-100: #cbdafa,
  blue-200: #a1bcf6,
  blue-300: #789ef3,
  blue-400: #4e81ef,
  blue-500: #2563eb,
  blue-600: #1e50be,
  blue-700: #173d92,
  blue-800: #102b65,
  blue-900: #091838,

  //indigo
  indigo-50: #f6f6fe,
  indigo-100: #d5d3f9,
  indigo-200: #b3aff4,
  indigo-300: #928cef,
  indigo-400: #7069ea,
  indigo-500: #4f46e5,
  indigo-600: #4039b9,
  indigo-700: #312b8e,
  indigo-800: #221e62,
  indigo-900: #131137,

  //violet
  violet-50: #f8f5fe,
  violet-100: #e0d0fb,
  violet-200: #c7aaf7,
  violet-300: #ae85f4,
  violet-400: #955ff0,
  violet-500: #7c3aed,
  violet-600: #642fc0,
  violet-700: #4d2493,
  violet-800: #351966,
  violet-900: #1e0e39,

  //Purple
  purple-50: #faf5fe,
  purple-100: #e5cefa,
  purple-200: #d1a7f6,
  purple-300: #bc81f2,
  purple-400: #a85aee,
  purple-500: #9333ea,
  purple-600: #7729be,
  purple-700: #5b2091,
  purple-800: #3f1665,
  purple-900: #230c38,

  //Fushia
  fuchsia-50: #fcf4fd,
  fuchsia-100: #f0cbf4,
  fuchsia-200: #e4a2ec,
  fuchsia-300: #d878e4,
  fuchsia-400: #cc4fdb,
  fuchsia-500: #c026d3,
  fuchsia-600: #9c1fab,
  fuchsia-700: #771883,
  fuchsia-800: #53105b,
  fuchsia-900: #2e0933,

  //Pink
  pink-50: #fdf4f8,
  pink-100: #f6cbde,
  pink-200: #f0a2c5,
  pink-300: #e979ab,
  pink-400: #e25091,
  pink-500: #db2777,
  pink-600: #b12060,
  pink-700: #88184a,
  pink-800: #5e1133,
  pink-900: #35091d,

  //Rose
  rose-50: #fef4f6,
  rose-100: #f8c9d3,
  rose-200: #f29eb0,
  rose-300: #ec738e,
  rose-400: #e7486b,
  rose-500: #e11d48,
  rose-600: #b6173a,
  rose-700: #8c122d,
  rose-800: #610c1f,
  rose-900: #360711
);
