@use "../variables/shadow" as s;

@mixin shadow {
	box-shadow: s.$shadow;
}

@mixin shadow-sm {
	box-shadow: s.$shadow-sm;
}

@mixin shadow-md {
	box-shadow: s.$shadow-md;
}
@mixin shadow-lg {
	box-shadow: s.$shadow-lg;
}

@mixin shadow-xl {
	box-shadow: s.$shadow-xl;
}

@mixin shadow-inner {
	box-shadow: s.$shadow-inner;
}
@mixin shadow-none {
	box-shadow: s.$shadow-none;
}
