@use "../variables/border" as b;

@mixin border-radius {
	border-radius: b.$border-radius-default;
}

@mixin border-top-radius($radius: b.$border-radius-default) {
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
}

@mixin border-right-radius($radius: b.$border-radius-default) {
	border-top-right-radius: $radius;
	border-bottom-right-radius: $radius;
}

@mixin border-bottom-radius($radius: b.$border-radius-default) {
	border-bottom-right-radius: $radius;
	border-bottom-left-radius: $radius;
}

@mixin border-left-radius($radius: b.$border-radius-default) {
	border-top-left-radius: $radius;
	border-bottom-left-radius: $radius;
}

@mixin border-top-left-radius($radius: b.$border-radius-default) {
	border-top-left-radius: $radius;
}

@mixin border-top-right-radius($radius: b.$border-radius-default) {
	border-top-right-radius: $radius;
}

@mixin border-bottom-left-radius($radius: b.$border-radius-default) {
	border-bottom-left-radius: $radius;
}

@mixin border-bottom-right-radius($radius: b.$border-radius-default) {
	border-bottom-right-radius: $radius;
}

@mixin border-radius-sm {
	border-radius: b.$border-radius-sm;
}

@mixin border-radius-md {
	border-radius: b.$border-radius-md;
}

@mixin border-radius-lg {
	border-radius: b.$border-radius-lg;
}

@mixin border-radius-full {
	border-radius: b.$border-radius-full;
}

@mixin border-radius-circle {
	border-radius: b.$border-radius-circle;
}

@mixin border-radius-none {
	border-radius: b.$border-radius-none;
}
