@use "../variables/shadow" as s;

@mixin shadow {
	--shadow-color: #{s.$shadow-color};
	--shadow: var(--shadow-color) #{s.$shadow-offset};
	box-shadow: var(--shadow);
}

@mixin shadow-sm {
	--shadow-color: #{s.$shadow-sm-color};
	--shadow: var(--shadow-color) #{s.$shadow-sm-offset};
	box-shadow: var(--shadow);
}

@mixin shadow-md {
	--shadow-color: #{s.$shadow-md-color};
	--shadow: var(--shadow-color) #{s.$shadow-md-offset};
	box-shadow: var(--shadow);
}
@mixin shadow-lg {
	--shadow-color: #{s.$shadow-lg-color};
	--shadow: var(--shadow-color) #{s.$shadow-lg-offset};
	box-shadow: var(--shadow);
}

@mixin shadow-xl {
	--shadow-color: #{s.$shadow-xl-color};
	--shadow: var(--shadow-color) #{s.$shadow-xl-offset};
	box-shadow: var(--shadow);
}

@mixin shadow-inner {
	--shadow-color: #{s.$shadow-inner-color};
	--shadow: #{s.$shadow-inner-offset} var(--shadow-color);
	box-shadow: var(--shadow);
}

@mixin shadow-none {
	box-shadow: none;
}
