.accordion {
	display: block;

	&__header {
		cursor: pointer;
	}

	&__content {
		transition: max-height 0.3s ease-in-out;
	}

	&__action {
		font-weight: 400;
	}
}

.accordion-show {
	display: block;
}

.accordion-collapsing {
	overflow: hidden;
	max-height: 0;
}

.accordion-hide {
	display: none;
}

.accordion-icon {
	--accordion-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z'/%3E%3C/svg%3E");
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&::after {
		content: '';
		width: 24px;
		height: 24px;
		background-size: 24px;
		background-image: var(--accordion-icon);
		transition: transform 0.3s ease;
	}
}

[data-accordion='close'] .accordion-icon {
	&::after {
		transform: rotate(180deg);
	}
}
