.link {
  color: var(--link-default);

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &:focus-visible {
    text-decoration: underline;
    outline: 2px solid var(--primary);
    outline-offset: 2px;
  }

  &-primary {
    color: var(--primary);
  }

  &-secondary {
    color: var(--secondary);
  }

  &-info {
    color: var(--info);
  }

  &-success {
    color: var(--success);
  }

  &-danger {
    color: var(--danger);
  }

  &-warning {
    color: var(--warning);
  }

  &-neutral {
    color: var(--neutral);
  }

  &-black {
    color: var(--black);
  }

  &-white {
    color: var(--white);
  }
}
