@use "../helpers/mixins/" as m;
.menu {
	font-weight: 400;
	&__list {
		list-style: none;
		&-item {
			margin-top: 0.125rem;
		}
	}

	&__link {
		display: flex;
		padding: 0.375rem 0.75rem;
		color: var(--slate);
		@include m.border-radius;

		&:hover {
			color: var(--slate--ultra);
		}
	}
}
