.container {
  max-inline-size: 1440px;

  &-lg {
    max-inline-size: 1680px;
  }

  &-md {
    max-inline-size: 1240px;
  }

  &-sm {
    max-inline-size: 980px;
  }

  &-xs {
    max-inline-size: 780px;
  }
}
