@use "../helpers/mixins/breakpoints" as m;
@use "../helpers/variables/typography" as t;

// font family
.font-primary {
	font-family: var(--font-primary);
}

.font-secondary {
	font-family: var(--font-secondary);
}

.font-tertiary {
	font-family: var(--font-tertiary);
}

@each $breakpoint, $screen-size in m.$breakpoints {
	@include m.mq($breakpoint) {
		@if $breakpoint != "" {
			$breakpoint: "-" + $breakpoint;
		}
		// text alignment
		.text#{$breakpoint}-left {
			text-align: left;
		}

		.text#{$breakpoint}-right {
			text-align: right;
		}

		.text#{$breakpoint}-center {
			text-align: center;
		}

		.text#{$breakpoint}-justify {
			text-align: justify;
		}

		.text#{$breakpoint}-start {
			text-align: start;
		}

		.text#{$breakpoint}-end {
			text-align: end;
		}

		// text transform
		.text#{$breakpoint}-uppercase {
			text-transform: uppercase;
		}

		.text#{$breakpoint}-lowercase {
			text-transform: lowercase;
		}

		.text#{$breakpoint}-capitalize {
			text-transform: capitalize;
		}

		.text#{$breakpoint}-normal-case {
			text-transform: none;
		}

		// word break
		.break#{$breakpoint}-word {
			word-break: break-word;
			overflow-wrap: break-word;
		}

		.break#{$breakpoint}-all {
			word-break: break-all;
		}

		.text#{$breakpoint}-warp {
			white-space: normal;
		}

		.text#{$breakpoint}-no-wrap {
			white-space: nowrap;
		}

		//font style
		.font#{$breakpoint}-italic {
			font-style: italic;
		}

		.font#{$breakpoint}-normal {
			font-style: normal;
		}

		//font weight
		.font#{$breakpoint}-thin {
			font-weight: 100;
		}

		.font#{$breakpoint}-xlight {
			font-weight: 200;
		}

		.font#{$breakpoint}-light {
			font-weight: 300;
		}

		.font#{$breakpoint}-normal {
			font-weight: 400;
		}

		.font#{$breakpoint}-medium {
			font-weight: 500;
		}

		.font#{$breakpoint}-sbold {
			font-weight: 600;
		}

		.font#{$breakpoint}-bold {
			font-weight: 700;
		}

		.font#{$breakpoint}-xbold {
			font-weight: 800;
		}

		.font#{$breakpoint}-black {
			font-weight: 900;
		}

		// line height
		.leading#{$breakpoint}-dense {
			line-height: t.$leading-dense;
		}

		.leading#{$breakpoint}-base {
			line-height: t.$leading-base;
		}

		.leading#{$breakpoint}-none {
			line-height: t.$leading-none;
		}

		.leading#{$breakpoint}-normal {
			line-height: t.$leading-normal;
		}

		.leading#{$breakpoint}-relaxed {
			line-height: t.$leading-relaxed;
		}

		.leading#{$breakpoint}-spacious {
			line-height: t.$leading-spacious;
		}

		.leading#{$breakpoint}-loose {
			line-height: t.$leading-spacious;
		}

		// letter spacing
		.tracking#{$breakpoint}-tightest {
			letter-spacing: t.$tracking-tightest;
		}

		.tracking#{$breakpoint}-tighter {
			letter-spacing: t.$tracking-tighter;
		}

		.tracking#{$breakpoint}-tight {
			letter-spacing: t.$tracking-tight;
		}

		.tracking#{$breakpoint}-normal {
			letter-spacing: t.$tracking-normal;
		}

		.tracking#{$breakpoint}-wide {
			letter-spacing: t.$tracking-wide;
		}

		.tracking#{$breakpoint}-wider {
			letter-spacing: t.$tracking-wider;
		}
		.tracking#{$breakpoint}-widest {
			letter-spacing: t.$tracking-widest;
		}

		//text decoration
		.text#{$breakpoint}-underline {
			text-decoration: underline;

			&-hover {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}

		.text#{$breakpoint}-overline {
			text-decoration: overline;

			&-hover {
				&:hover {
					text-decoration: overline;
				}
			}
		}

		.text#{$breakpoint}-line-through {
			text-decoration: line-through;

			&-hover {
				&:hover {
					text-decoration: line-through;
				}
			}
		}

		.text#{$breakpoint}-no-underline {
			text-decoration: none;

			&-hover {
				&:hover {
					text-decoration: none;
				}
			}
		}

		//list style
		.list#{$breakpoint}-none {
			list-style: none;
		}

		.list#{$breakpoint}-disc {
			list-style: disc;
		}

		.list#{$breakpoint}-decimal {
			list-style: decimal;
		}
	}
}
