@use "../helpers/variables/font" as f;
*,
*::after,
*::before {
	box-sizing: border-box;
	border: 0 solid var(--transparent);
}

html,
body {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-size: f.$font-size;
	font-family: f.$font-family;
	line-height: f.$line-height;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img,
video {
	max-width: 100%;
	display: block;
}

a,
span {
	display: inline-block;
}

input,
button,
textarea,
select,
a {
	font-family: inherit;
	line-height: inherit;
}

table {
	border-collapse: collapse;
}

input {
	outline: none;
}

label {
	display: inline-block;
}
