@use "../helpers/variables/theme_colors" as t;
:root {
	// Fonts

	--font-primary: "Inter", sans-serif;
	--font-secondary: system-ui, "Segoe UI";
	--font-tertiary: "Fira Code", monospace;

	//COLORS
	@each $color, $value in t.$base-colors {
		#{"--" + $color}: #{$value};
	}

	@each $color, $value in t.$theme-colors {
		#{"--" + $color}: #{$value};
	}

	//link
	--link-default: #06c;

	// Menu navigation
	--active-link-color: var(--default);
	--active-link-bgColor: var(--default--ultra);

	// form input
	--input-shadow: rgba(71, 71, 71, 0.16) 0px 0px 0px 1px;
	--input-focus-shadow: var(--primary) 0px 0px 0px 1px;
}
