@use '../helpers/variables/colors' as c;

@each $shade, $value in c.$primary-colors {
  .bg-#{$shade} {
    background-color: $value;
  }
  .fg-#{$shade} {
    color: $value;
  }
  .bd-#{$shade} {
    border-color: $value;
  }
}

//default
.fg-default {
  color: var(--default);

  &--medium {
    color: var(--default--medium);
  }

  &--xlight {
    color: var(--default--xlight);
  }

  &--light {
    color: var(--default--light);
  }

  &--ultra {
    color: var(--default--ultra);
  }
}

.bg-default {
  background-color: var(--default);

  &--medium {
    background-color: var(--default--medium);
  }

  &--xlight {
    background-color: var(--default--xlight);
  }

  &--light {
    background-color: var(--default--light);
  }

  &--ultra {
    background-color: var(--default--ultra);
  }
}

////////// Foreground
///

.fg-text {
  color: var(--fg-text);

  &--medium {
    color: var(--fg-text--medium);
  }

  &--xlight {
    color: var(--fg-text--xlight);
  }

  &--light {
    color: var(--fg-text--light);
  }

  &--ultra {
    color: var(--fg-text--ultra);
  }
}

.fg-primary {
  color: var(--primary);

  &--light {
    color: var(--primary--light);
  }

  &--xlight {
    color: var(--primary--xlight);
  }

  &--medium {
    color: var(--primary--medium);
  }

  &--ultra {
    color: var(--primary--ultra);
  }
}

.fg-secondary {
  color: var(--secondary);

  &--light {
    color: var(--secondary--light);
  }

  &--xlight {
    color: var(--secondary--xlight);
  }

  &--medium {
    color: var(--secondary--medium);
  }

  &--ultra {
    color: var(--secondary--ultra);
  }
}

.fg-tertiary {
  color: var(--tertiary);

  &--light {
    color: var(--tertiary--light);
  }

  &--xlight {
    color: var(--tertiary--xlight);
  }

  &--medium {
    color: var(--tertiary--medium);
  }

  &--ultra {
    color: var(--tertiary--ultra);
  }
}

.fg-info {
  color: var(--info);

  &--light {
    color: var(--info--light);
  }

  &--xlight {
    color: var(--info--xlight);
  }

  &--medium {
    color: var(--info--medium);
  }

  &--ultra {
    color: var(--info--ultra);
  }
}

.fg-warning {
  color: var(--warning);

  &--light {
    color: var(--warning--light);
  }

  &--xlight {
    color: var(--warning--xlight);
  }

  &--medium {
    color: var(--warning--medium);
  }

  &--ultra {
    color: var(--warning--ultra);
  }
}

.fg-danger {
  color: var(--danger);

  &--light {
    color: var(--danger--light);
  }

  &--xlight {
    color: var(--danger--xlight);
  }

  &--medium {
    color: var(--danger--medium);
  }

  &--ultra {
    color: var(--danger--ultra);
  }
}

.fg-success {
  color: var(--success);

  &--light {
    color: var(--success--light);
  }

  &--xlight {
    color: var(--success--xlight);
  }

  &--medium {
    color: var(--success--medium);
  }

  &--ultra {
    color: var(--success--ultra);
  }
}

.fg-neutral {
  color: var(--neutral);

  &--light {
    color: var(--neutral--light);
  }

  &--xlight {
    color: var(--neutral--xlight);
  }

  &--medium {
    color: var(--neutral--medium);
  }

  &--ultra {
    color: var(--neutral--ultra);
  }
}

///////// Background

.bg-primary {
  background-color: var(--primary);

  &--light {
    background-color: var(--primary--light);
  }

  &--xlight {
    background-color: var(--primary--xlight);
  }

  &--medium {
    background-color: var(--primary--medium);
  }

  &--ultra {
    background-color: var(--primary--ultra);
  }
}

.bg-secondary {
  background-color: var(--secondary);

  &--light {
    background-color: var(--secondary--light);
  }

  &--xlight {
    background-color: var(--secondary--xlight);
  }

  &--medium {
    background-color: var(--secondary--medium);
  }

  &--ultra {
    background-color: var(--secondary--ultra);
  }
}

.bg-tertiary {
  background-color: var(--tertiary);

  &--light {
    background-color: var(--tertiary--light);
  }

  &--xlight {
    background-color: var(--tertiary--xlight);
  }

  &--medium {
    background-color: var(--tertiary--medium);
  }

  &--ultra {
    background-color: var(--tertiary--ultra);
  }
}

.bg-info {
  background-color: var(--info);

  &--light {
    background-color: var(--info--light);
  }

  &--xlight {
    background-color: var(--info--xlight);
  }

  &--medium {
    background-color: var(--info--medium);
  }

  &--ultra {
    background-color: var(--info--ultra);
  }
}

.bg-warning {
  background-color: var(--warning);

  &--medium {
    background-color: var(--warning--medium);
  }

  &--light {
    background-color: var(--warning--light);
  }

  &--xlight {
    background-color: var(--warning--xlight);
  }

  &--ultra {
    background-color: var(--warning--ultra);
  }
}

.bg-danger {
  background-color: var(--danger);

  &--light {
    background-color: var(--danger--light);
  }

  &--xlight {
    background-color: var(--danger--xlight);
  }

  &--medium {
    background-color: var(--danger--medium);
  }

  &--ultra {
    background-color: var(--danger--ultra);
  }
}

.bg-success {
  background-color: var(--success);

  &--light {
    background-color: var(--success--light);
  }

  &--xlight {
    background-color: var(--success--xlight);
  }

  &--medium {
    background-color: var(--success--medium);
  }

  &--ultra {
    background-color: var(--success--ultra);
  }
}

.bg-neutral {
  background-color: var(--neutral);

  &--light {
    background-color: var(--neutral--light);
  }

  &--xlight {
    background-color: var(--neutral--xlight);
  }

  &--medium {
    background-color: var(--neutral--medium);
  }

  &--ultra {
    background-color: var(--neutral--ultra);
  }
}

//// Borders
///
.bd-default {
  border-color: var(--default);

  &--medium {
    border-color: var(--default--medium);
  }

  &--light {
    border-color: var(--default--light);
  }

  &--xlight {
    border-color: var(--default--xlight);
  }

  &--ultra {
    border-color: var(--default--ultra);
  }
}

.bd-primary {
  border-color: var(--primary);

  &--light {
    border-color: var(--primary--light);
  }

  &--xlight {
    border-color: var(--primary--xlight);
  }

  &--medium {
    border-color: var(--primary--medium);
  }

  &--ultra {
    border-color: var(--primary--ultra);
  }
}

.bd-secondary {
  border-color: var(--secondary);

  &--light {
    border-color: var(--secondary--light);
  }

  &--xlight {
    border-color: var(--secondary--xlight);
  }

  &--medium {
    border-color: var(--secondary--medium);
  }

  &--ultra {
    border-color: var(--secondary--ultra);
  }
}

.bd-tertiary {
  border-color: var(--tertiary);

  &--light {
    border-color: var(--tertiary--light);
  }

  &--xlight {
    border-color: var(--tertiary--xlight);
  }

  &--medium {
    border-color: var(--tertiary--medium);
  }

  &--ultra {
    border-color: var(--tertiary--ultra);
  }
}

.bd-info {
  border-color: var(--info);

  &--light {
    border-color: var(--info--light);
  }

  &--xlight {
    border-color: var(--info--xlight);
  }

  &--medium {
    border-color: var(--info--medium);
  }

  &--ultra {
    border-color: var(--info--ultra);
  }
}

.bd-warning {
  border-color: var(--warning);

  &--light {
    border-color: var(--warning--light);
  }

  &--xlight {
    background-color: var(--warning--xlight);
  }

  &--medium {
    border-color: var(--warning--medium);
  }

  &--ultra {
    border-color: var(--warning--ultra);
  }
}

.bd-danger {
  border-color: var(--danger);

  &--light {
    border-color: var(--danger--light);
  }

  &--xlight {
    border-color: var(--danger--xlight);
  }

  &--medium {
    border-color: var(--danger--medium);
  }

  &--ultra {
    border-color: var(--danger--ultra);
  }
}

.bd-success {
  border-color: var(--success);

  &--light {
    border-color: var(--success--light);
  }

  &--xlight {
    border-color: var(--success--xlight);
  }

  &--medium {
    border-color: var(--success--medium);
  }

  &--ultra {
    border-color: var(--success--ultra);
  }
}

.bd-neutral {
  border-color: var(--neutral);

  &--light {
    border-color: var(--neutral--light);
  }

  &--xlight {
    border-color: var(--neutral--xlight);
  }

  &--medium {
    border-color: var(--neutral--medium);
  }

  &--ultra {
    border-color: var(--neutral--ultra);
  }
}
