@use '../helpers/variables/theme_colors' as t;
@use '../helpers/variables/colors' as c;

@each $shade, $value in t.$base-colors {
  .bg-#{'' + $shade} {
    background-color: #{'var(--' + $shade + ')'};
  }
  .fg-#{'' + $shade} {
    color: #{'var(--' + $shade + ')'};
  }
  .bd-#{'' + $shade} {
    border-color: #{'var(--' + $shade + ')'};
  }
}

@each $shade, $value in t.$theme-colors {
  .bg-#{'' + $shade} {
    background-color: #{'var(--' + $shade + ')'};
  }
  .fg-#{'' + $shade} {
    color: #{'var(--' + $shade + ')'};
  }
  .bd-#{'' + $shade} {
    border-color: #{'var(--' + $shade + ')'};
  }
}
