@mixin border-radius {
  border-radius: 6px;
}

@mixin border-radius-sm {
  border-radius: 4px;
}

@mixin border-radius-md {
  border-radius: 12px;
}

@mixin border-radius-lg {
  border-radius: 24px;
}

@mixin border-radius-full {
  border-radius: 999rem;
}

@mixin border-radius-circle {
  border-radius: 50%;
}

@mixin border-radius-none {
  border-radius: 0;
}
