.alert {
  padding: 1.25rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  border: 1px solid var(--bg-neutral--light);

  &.alert-stripe {
    border-left-width: 10px;
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-bottom: none;

    &--top {
      border-top-width: 4px;
      border-radius: 0;
      border-left: none;
      border-right: none;
      border-bottom: none;
    }
    &--bottom {
      border-bottom-width: 4px;
      border-radius: 0;
      border-top: none;
      border-right: none;
      border-left: none;
    }
  }
}
