.badge {
  min-width: 0.875rem;
  min-height: 0.875rem;
  border-radius: 2rem;
  text-align: center;
  background-color: var(--bg-neutral--light);

  &.badge-text {
    min-width: 16px;
    min-height: 16px;
    padding: 1px 4px;
    line-height: 1.2;
  }

  &-parent {
    position: relative;
  }

  &__child {
    position: absolute;
    top: 0;
    right: 0;
  }
}
