@use '../helpers/mixins/' as m;

.btn {
  appearance: auto;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  @include m.border-radius;
  text-align: center;
  vertical-align: middle;
  background-color: var(--bg-default--light);
  border: 1px solid var(--bg-default);

  &.bg-primary:hover {
    @include m.shadow;
    background-color: var(--bg-primary--medium);
  }

  &.bg-secondary:hover {
    @include m.shadow;
    background-color: var(--bg-secondary--medium);
  }

  &.bg-info:hover {
    @include m.shadow;
    background-color: var(--bg-info--medium);
  }
  &.bg-warning:hover {
    @include m.shadow;
    background-color: var(--bg-warning--medium);
  }
  &.bg-danger:hover {
    @include m.shadow;
    background-color: var(--bg-danger--medium);
  }
  &.bg-success:hover {
    @include m.shadow;
    background-color: var(--bg-success--medium);
  }
  &.bg-neutral:hover {
    @include m.shadow;
    background-color: var(--bg-neutral--medium);
  }

  &:hover {
    background-color: var(--bg-default--medium);
  }

  &-outline {
    background-color: var(--bg-transparent);
    color: var(--fg-text);

    &.bg-primary {
      background-color: var(--bg-transparent);

      &:hover {
        background-color: var(--bg-primary--light);
      }
    }

    &.bg-secondary {
      background-color: var(--bg-transparent);

      &:hover {
        background-color: var(--bg-secondary--light);
      }
    }

    &.bg-info {
      background-color: var(--bg-transparent);

      &:hover {
        background-color: var(--bg-info--light);
      }
    }

    &.bg-success {
      background-color: var(--bg-transparent);

      &:hover {
        background-color: var(--bg-success--light);
      }
    }

    &.bg-danger {
      background-color: var(--bg-transparent);

      &:hover {
        background-color: var(--bg-danger--light);
      }
    }

    &.bg-warning {
      background-color: var(--bg-transparent);

      &:hover {
        background-color: var(--bg-warning--light);
      }
    }

    &.bg-neutral {
      background-color: var(--bg-transparent);

      &:hover {
        background-color: var(--bg-neutral--light);
      }
    }

    &.bg-black {
      background-color: var(--bg-transparent);

      &:hover {
        background-color: var(--bg-black);
        color: var(--fg-white);
      }
    }

    &.bg-white {
      background-color: var(--bg-transparent);

      &:hover {
        background-color: var(--bg-white);
      }
    }
  }

  &-outline:hover {
    background-color: var(--bg-transparent);
  }

  &.btn-text {
    background-color: var(--bg-transparent);
    border: none;

    &.bg-default:hover {
      background-color: var(--bg-default--light);
    }

    &.bg-primary:hover {
      background-color: var(--bg-primary--light);
    }

    &.bg-secondary:hover {
      background-color: var(--bg-secondary--light);
    }

    &.bg-info:hover {
      background-color: var(--bg-info--light);
    }

    &.bg-warning:hover {
      background-color: var(--bg-warning--light);
    }

    &.bg-danger:hover {
      background-color: var(--bg-danger--light);
    }

    &.bg-success:hover {
      background-color: var(--bg-success--light);
    }

    &.bg-neutral:hover {
      background-color: var(--bg-neutral--light);
    }
  }

  &.btn-link {
    background-color: var(--bg-transparent);
    border: none;
  }

  &.btn-link:hover {
    span {
      text-decoration: underline;
    }
  }

  &.btn-icon {
    padding: 0.313rem;
    background-color: var(--bg-transparent);
    border: 0;
    line-height: 1;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.box {
  width: 100px;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}
