.btn {
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  border-radius: 24px;
  text-align: center;
  color: white;
  &.btn--raised:hover {
    background-color: blue;
  }

  &.btn--raised {
    background-color: rgba(0, 0, 0, 0);
    color: var(--primary);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  }

  &.btn--outline {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
  }

  &.btn--link {
    background-color: rgba(0, 0, 0, 0);
    color: var(--nb-color-primary-900);
  }

  // Colors
  &.btn-success {
    background-color: #1ed760;
  }

  &.btn-secondary {
    background-color: rgb(226, 42, 42);
  }

  &.btn-danger {
  }
}
