@use '../helpers/mixins/' as m;

.card {
  @include m.border-radius;
  @include m.shadow;

  &__header {
  }

  &__img {
    img {
      width: 100%;
      block-size: auto;
      object-fit: cover;
      background-repeat: no-repeat;
    }
  }

  &__content {
  }

  &__action {
  }
}

.w-1 {
  width: 275px;
}
.w-2 {
  width: 375px;
}
