<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ '/css/site.css' | url }}" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="layout layout--spacious-30-70 gap-10">
      <aside class="layout-aside">
        <ul>
          <li><a href="#" class="label-md">Alerts</a></li>
          <li><a href="#" class="label-md">Button</a></li>
          <li><a href="#" class="label-md">Flexbox</a></li>
        </ul>
      </aside>
      <main class="layout-main p-sm-4">
        <header>
          <h1 class="heading">{{ title }}</h1>
        </header>
        {{ content | safe }}
      </main>
    </div>
  </body>
</html>
