@use "../variables/colors" as c;

$base-colors: (
	"white": #fff,
	midnight: #1a1a1a,
	"black": #000,
	"transparent": #00000000,
	link-default: #06c,
);

$theme-colors: (
	default: #d4d6da66,
	default--xlight: #f0f0f066,
	default--light: map-get(c.$colors, gray-50),
	default--soft: map-get(c.$colors, gray-100),
	default--medium: rgba(0, 0, 0, 0.5),
	default--ultra: map-get(c.$colors, gray-700),
	default--plus-ultra: map-get(c.$colors, gray-700),
	primary: map-get(c.$colors, blue-500),
	primary--xlight: map-get(c.$colors, blue-50),
	primary--light: map-get(c.$colors, blue-100),
	primary--soft: map-get(c.$colors, blue-300),
	primary--medium: map-get(c.$colors, blue-600),
	primary--ultra: map-get(c.$colors, blue-700),
	primary--plus-ultra: map-get(c.$colors, blue-900),
	secondary: map-get(c.$colors, violet-500),
	secondary--xlight: map-get(c.$colors, violet-50),
	secondary--light: map-get(c.$colors, violet-100),
	secondary--soft: map-get(c.$colors, violet-300),
	secondary--medium: map-get(c.$colors, violet-600),
	secondary--ultra: map-get(c.$colors, violet-700),
	secondary--plus-ultra: map-get(c.$colors, violet-900),
	tertiary: map-get(c.$colors, lime-500),
	tertiary--xlight: map-get(c.$colors, lime-50),
	tertiary--light: map-get(c.$colors, lime-100),
	tertiary--soft: map-get(c.$colors, lime-300),
	tertiary--medium: map-get(c.$colors, lime-600),
	tertiary--ultra: map-get(c.$colors, lime-700),
	tertiary--plus-ultra: map-get(c.$colors, lime-900),
	info: map-get(c.$colors, sky-500),
	info--xlight: map-get(c.$colors, sky-50),
	info--light: map-get(c.$colors, sky-100),
	info--soft: map-get(c.$colors, sky-300),
	info--medium: map-get(c.$colors, sky-600),
	info--ultra: map-get(c.$colors, sky-700),
	info--plus-ultra: map-get(c.$colors, sky-900),
	warning: map-get(c.$colors, amber-500),
	warning--xlight: map-get(c.$colors, amber-50),
	warning--light: map-get(c.$colors, amber-100),
	warning--soft: map-get(c.$colors, amber-300),
	warning--medium: map-get(c.$colors, amber-600),
	warning--ultra: map-get(c.$colors, amber-700),
	warning--plus-ultra: map-get(c.$colors, amber-900),
	danger: map-get(c.$colors, red-500),
	danger--xlight: map-get(c.$colors, red-50),
	danger--light: map-get(c.$colors, red-100),
	danger--soft: map-get(c.$colors, red-300),
	danger--medium: map-get(c.$colors, red-600),
	danger--ultra: map-get(c.$colors, red-700),
	danger--plus-ultra: map-get(c.$colors, red-900),
	success: map-get(c.$colors, green-500),
	success--xlight: map-get(c.$colors, green-50),
	success--light: map-get(c.$colors, green-100),
	success--soft: map-get(c.$colors, green-300),
	success--medium: map-get(c.$colors, green-600),
	success--ultra: map-get(c.$colors, green-700),
	success--plus-ultra: map-get(c.$colors, green-900),
	neutral: map-get(c.$colors, neutral-500),
	neutral--xlight: map-get(c.$colors, neutral-50),
	neutral--light: map-get(c.$colors, neutral-100),
	neutral--soft: map-get(c.$colors, neutral-300),
	neutral--medium: map-get(c.$colors, neutral-600),
	neutral--ultra: map-get(c.$colors, neutral-700),
	neutral--plus-ultra: map-get(c.$colors, neutral-900),
	gray: map-get(c.$colors, gray-500),
	gray--xlight: map-get(c.$colors, gray-50),
	gray--light: map-get(c.$colors, gray-100),
	gray--soft: map-get(c.$colors, gray-300),
	gray--medium: map-get(c.$colors, gray-600),
	gray--ultra: map-get(c.$colors, gray-700),
	gray--plus-ultra: map-get(c.$colors, gray-900),
	slate: map-get(c.$colors, slate-500),
	slate--xlight: map-get(c.$colors, slate-50),
	slate--light: map-get(c.$colors, slate-100),
	slate--soft: map-get(c.$colors, slate-300),
	slate--medium: map-get(c.$colors, slate-600),
	slate--ultra: map-get(c.$colors, slate-700),
	slate--plus-ultra: map-get(c.$colors, slate-900),
);
