$tracking-tightest: -0.055em;
$tracking-tighter: -0.033em;
$tracking-tight: -0.011em;
$tracking-normal: 0;
$tracking-wide: 0.011em;
$tracking-wider: 0.033em;
$tracking-widest: 0.055em;

$leading-dense: 0.8;
$leading-base: 1;
$leading-none: 0;
$leading-normal: 1.125;
$leading-relaxed: 1.14;
$leading-spacious: 1.4;
$leading-loose: 1.8;
