@use '../helpers/variables/font' as f;
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: f.$font-size;
  font-family: f.$font-family;
  line-height: f.$line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
video,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select,
a {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
