@use '../helpers' as h;
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: h.$font-size;
  font-family: h.$font-family;
  line-height: h.$line-height;
}

img,
video {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
